In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Toys_and_Games.csv')

In [3]:
df

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A226IWT7KTK74J,B001W30D2O,Aaron Goldman,"[0, 0]",We received this toy as a birthday gift for my...,5.0,We ended up getting a 2nd Scout for our other son,1277769600,"06 29, 2010"
1,A1MHOYUPMHH5TF,B001W30D2O,"Adam ""evercurio""","[4, 4]","I'm a tech geek, so when I see a toy that I ca...",3.0,"Cute cuddly puppy, but the customization optio...",1325462400,"01 2, 2012"
2,A1BEFUJK894ZVB,B001W30D2O,Adelle,"[0, 0]","Bought this for my 2 month old, who ends up ""t...",5.0,My infant loves this!,1312416000,"08 4, 2011"
3,A2PTAJTGXOAHU4,B001W30D2O,ADreisow,"[0, 0]",IF you do NOT have one of these for your child...,5.0,Sweet Sweet Scout!,1371340800,"06 16, 2013"
4,A14SC4IB9OGSGX,B001W30D2O,A. Hodges,"[0, 0]",My daughter received this toy for Christmas fr...,5.0,Great toy!,1373241600,"07 8, 2013"
...,...,...,...,...,...,...,...,...,...
1175,A1ZILSMQWL01NZ,B0089RPUHO,VixenRose,"[0, 0]",This has been the big hit of Christmas for my ...,5.0,big hit,1356480000,"12 26, 2012"
1176,A1OF8VLGFF2P1W,B0089RPUHO,V. Lease,"[1, 1]",I bought this for my 4 year old to use in the ...,5.0,Perfect for my 4 year old,1392249600,"02 13, 2014"
1177,A2H667ZUNLNTF1,B0089RPUHO,"Wendi Barker ""Wendi's Book Corner & What Wend...","[0, 0]",Please note: This version does not come with ...,5.0,Monsters University Version of Regular LeapPad...,1379894400,"09 23, 2013"
1178,A3UJRNI8UR4871,B0089RPUHO,"Wulfstan ""wulfstan""","[1, 2]","Ooh, a tough question. Even tougher is ""Can I ...",5.0,"Uncle Wulfy, can I play with your iPad?",1377648000,"08 28, 2013"
1179,A1XFI340SHOS5K,B0089RPUHO,Zenpony,"[0, 1]",My grandkids have played with LeapPad games si...,5.0,Five and six year olds love it,1377561600,"08 27, 2013"

In [5]:
df['reviewText'].iloc[0]

'We received this toy as a birthday gift for my younger son - one year old.  While it was still in the box, my older son -- two years old -- had already started playing with it.  We decided to program it for the two year old.  He smiles and gets a real kick out Scout every time it says his name, favorite food/color/animal, or spells his name.  We even purchased a second one for the younger child.  I wish that they would make different colors besides violet and green.'

In [6]:
df['reviewText'].iloc[1]

'I\'m a tech geek, so when I see a toy that I can customize by connecting it via USB, my interest gets piqued. I bought this last year, but it sat nearly a year before we found it and gave it to our two-year-old this past Christmas. The dog itself is cute and without the customization feature, would probably have earned 3 or 4 stars. But the customization is what falls short. The software you need to install to connect the puppy had a fit with my antivirus software. When I took the recommendation of the antivirus software, the LeapFrog software didn\'t work correctly. So after a reinstall (during which I had to repeatedly and anxiously tell my antivirus software to pipe down), I finally got it working.Here\'s the extent of the customization:1) Type in your child\'s name and hope that one of the recorded MP3 files matches. The third of three matched...somewhat. It\'s pronounced more like a question than a statement, so when it comes up in the toy\'s routine, it doesn\'t sound quite right. Nevertheless, my daughter gets a kick out of hearing the puppy say her name every so often.2) Choose your child\'s favorite color, animal, and food. These are inserted occasionally in the dog\'s songs and activities. I don\'t think my daughter (only 2 remember) picks up on this (especially since her "favorites" are likely to change from day to day!).3) Pick five "daytime" tunes and five "bedtime" tunes. These I picked mostly at random but, since they are tune only (no lyrics), my daughter isn\'t very interested in this feature.After just a couple days, we don\'t see much of this puppy any more. My daughter prefers her non battery-operated baby dolls, books, and other toys to this one. I\'m becoming increasingly dissatisfied with all LeapFrog toys due to their poor build quality and limited "learning". I think there are better quality games available on the iPod and more cost-effective and better quality toys elsewhere.'

## Text processing

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [27]:
from nltk.stem import PorterStemmer

In [40]:
from nltk.corpus import stopwords

In [22]:
import string

In [28]:
stem = PorterStemmer()

In [23]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
'0123456789'+string.punctuation

'0123456789!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
vec = TfidfVectorizer()

In [11]:
m = vec.fit_transform(df['reviewText'])

In [33]:
text = df['reviewText'].iloc[1]

In [34]:
text = text.lower()

In [35]:
sents = sent_tokenize(text)

In [36]:
sent = sents[2]
sent

'the dog itself is cute and without the customization feature, would probably have earned 3 or 4 stars.'

In [37]:
sent = ''.join([char for char in sent if char not in '0123456789'+string.punctuation])

In [38]:
words = word_tokenize(sent)
words

['the',
 'dog',
 'itself',
 'is',
 'cute',
 'and',
 'without',
 'the',
 'customization',
 'feature',
 'would',
 'probably',
 'have',
 'earned',
 'or',
 'stars']

In [45]:
sent = ' '.join([word for word in words if word not in sw]) + '.'

In [47]:
def clean_sentence(sent):
    sent = sent.lower()
    sent = ''.join([char for char in sent if char not in '0123456789'+string.punctuation])
    words = word_tokenize(sent)
    sent = ' '.join([stem.stem(word) for word in words if word not in sw]) + '.'
    return sent

In [54]:
sents = sent_tokenize(text)

In [58]:
' '.join([clean_sentence(sent) for sent in sents])

'im tech geek see toy custom connect via usb interest get piqu. bought last year sat nearli year found gave twoyearold past christma. dog cute without custom featur would probabl earn star. custom fall short. softwar need instal connect puppi fit antiviru softwar. took recommend antiviru softwar leapfrog softwar didnt work correctli. reinstal repeatedli anxious tell antiviru softwar pipe final got workingher extent custom type child name hope one record mp file match. third three matchedsomewhat. pronounc like question statement come toy routin doesnt sound quit right. nevertheless daughter get kick hear puppi say name everi often choos child favorit color anim food. insert occasion dog song activ. dont think daughter rememb pick especi sinc favorit like chang day day. pick five daytim tune five bedtim tune. pick mostli random sinc tune lyric daughter isnt interest featureaft coupl day dont see much puppi. daughter prefer non batteryoper babi doll book toy one. im becom increasingli dissatisfi leapfrog toy due poor build qualiti limit learn. think better qualiti game avail ipod costeffect better qualiti toy elsewher.'

In [59]:
def clean_text(text):
    text = text.lower()
    sents = sent_tokenize(text)
    text = ' '.join([clean_sentence(sent) for sent in sents])
    return text

In [62]:
df['cleanedText'] = df['reviewText'].apply(clean_text)

In [64]:
df['cleanedText'][0]

'receiv toy birthday gift younger son one year old. still box older son two year old alreadi start play. decid program two year old. smile get real kick scout everi time say name favorit foodcoloranim spell name. even purchas second one younger child. wish would make differ color besid violet green.'

In [71]:
vec = TfidfVectorizer(max_features=200)

In [1]:
m = vec.fit_transform(df['reviewText'])

NameError: name 'vec' is not defined

In [73]:
len(vec.get_feature_names())

200

In [75]:
pd.DataFrame(m.todense(), columns=vec.get_feature_names())

,abl,adult,age,alreadi,also,alway,anim,anoth,app,appl,...,want,way,well,wish,without,work,would,year,yet,your
0,0.0,0.000000,0.0,0.184032,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.182478,0.000000,0.000000,0.119880,0.304845,0.0,0.0
1,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.098079,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.098973,0.080291,0.063055,0.106896,0.0,0.0
2,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.217562,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,0.0,0.000000,0.0,0.000000,0.089689,0.000000,0.000000,0.126735,0.000000,0.0,...,0.000000,0.000000,0.189088,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.0,0.000000,0.041638,0.112013,0.186935,0.000000,0.000000,0.0,...,0.000000,0.047458,0.000000,0.000000,0.000000,0.051010,0.040060,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.436635,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.336557,0.000000,0.0,0.0
1176,0.0,0.000000,0.0,0.000000,0.175921,0.000000,0.000000,0.000000,0.219583,0.0,...,0.000000,0.200511,0.000000,0.000000,0.000000,0.000000,0.000000,0.143466,0.0,0.0
1177,0.0,0.000000,0.0,0.000000,0.098227,0.066061,0.000000,0.000000,0.306514,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.060168,0.000000,0.000000,0.0,0.0
1178,0.0,0.157977,0.0,0.000000,0.138603,0.000000,0.000000,0.000000,0.173002,0.0,...,0.155909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1179,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.253294,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

## LDA

In [76]:
from sklearn.decomposition import LatentDirichletAllocation

In [81]:
lda = LatentDirichletAllocation(n_components=3, random_state=298575)

In [82]:
lda.fit(m)

LatentDirichletAllocation(n_components=3, random_state=298575)

In [83]:
lda.transform(m)

array([[0.06104138, 0.87687379, 0.06208483],
       [0.07794301, 0.84145495, 0.08060204],
       [0.08397565, 0.83153793, 0.08448641],
       ...,
       [0.08245324, 0.07128241, 0.84626435],
       [0.16842278, 0.06373582, 0.7678414 ],
       [0.09980004, 0.09477   , 0.80542996]])

In [84]:
lda.transform(m).shape

(1180, 3)

In [86]:
lda.components_.shape

(3, 200)

In [87]:
lda.components_[:, 0]

array([3.31241476, 7.58433667, 3.52630324])

In [88]:
lda.components_[:, 1]

array([32.81961901,  0.43669443,  0.41849523])

In [89]:
np.argmax(lda.components_, axis=0)

array([1, 0, 0, 1, 2, 0, 1, 0, 2, 0, 1, 0, 1, 1, 2, 0, 0, 0, 1, 1, 2, 1,
       2, 2, 1, 0, 2, 0, 1, 1, 0, 1, 1, 1, 0, 2, 1, 0, 1, 1, 1, 2, 0, 2,
       1, 0, 1, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 2, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 2, 2, 2, 1,
       2, 0, 0, 0, 0, 1, 1, 0, 2, 2, 2, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 2, 1, 0, 1, 1, 0, 1, 2, 2, 0, 1, 0, 0, 0, 0, 1, 2, 2, 0,
       0, 0, 1, 1, 2, 0, 0, 1, 2, 0, 2, 2, 1, 2, 1, 2, 0, 0, 0, 2, 0, 1,
       0, 1, 1, 1, 2, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 2, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 2, 1, 0, 0, 1, 2, 1, 1, 0, 0,
       0, 0])

In [92]:
keywords = pd.DataFrame({'word': vec.get_feature_names(), 
 'topic': np.argmax(lda.components_, axis=0), 
 'weight': np.max(lda.components_, axis=0)})

In [97]:
keywords.query('topic==0').sort_values(by='weight', ascending=False)[:10]

       word  topic      weight
70     game      0  122.003272
137    play      0   86.136034
69      fun      0   62.870813
25     card      0   55.853608
9      appl      0   39.012498
77    great      0   37.221648
1     adult      0   32.819619
180    time      0   31.962753
68   friend      0   31.113068
197    year      0   30.988652

In [98]:
keywords.query('topic==1').sort_values(by='weight', ascending=False)[:10]

         word  topic     weight
181       toy      1  46.014141
117      name      1  36.793780
105      love      1  32.928674
166       son      1  29.243948
157     scout      1  28.676577
156       say      1  24.885652
40   daughter      1  24.882347
167      song      1  24.450098
189    violet      1  21.575769
63    favorit      1  21.028578

In [99]:
keywords.query('topic==2').sort_values(by='weight', ascending=False)[:10]

         word  topic     weight
98    leappad      2  34.569250
8         app      2  30.387224
186       use      2  26.205136
14    batteri      2  25.444995
99      learn      2  19.439619
145   purchas      2  18.104449
97   leapfrog      2  17.221118
172    tablet      2  15.399685
143   product      2  15.151629
48   download      2  14.986085

In [102]:
df['topic'] = np.argmax(lda.transform(m), axis=1)

In [105]:
df['topic_score'] = np.max(lda.transform(m), axis=1)

In [109]:
df.groupby(['topic', 'product_id'])['reviewerID'].count().rename('count').reset_index()

    topic  product_id  count
0       0  B001W30D2O      6
1       0  B002NPBT50    104
2       0  B0039S7NO6    198
3       0  B004S8F7QM    284
4       0  B0089RPUHO     10
5       1  B001W30D2O    194
6       1  B002NPBT50     77
7       1  B0039S7NO6      8
8       1  B004S8F7QM     20
9       1  B0089RPUHO     23
10      2  B001W30D2O      7
11      2  B002NPBT50     15
12      2  B0039S7NO6      9
13      2  B004S8F7QM      5
14      2  B0089RPUHO    220

In [110]:
keywords.query('topic==0').sort_values(by='weight', ascending=False)[:10]

       word  topic      weight
70     game      0  122.003272
137    play      0   86.136034
69      fun      0   62.870813
25     card      0   55.853608
9      appl      0   39.012498
77    great      0   37.221648
1     adult      0   32.819619
180    time      0   31.962753
68   friend      0   31.113068
197    year      0   30.988652

In [113]:
df.query('topic==0').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[0]

'Our family LOVES this game. This is one game the children and adults can play together. Even when the children have gone to bed the adults spend hours trying to best each other. At first this game seems simple, but in that simplicity lies the enjoyment. They are many different styles of play allowing for large groups or pairs to play. I imagine one could even play it alone against the clock. Are you getting your family together for a holiday soon? Want to get everyone doing something other then watching television? Try this! It is inexpensive and the packaging is great. Want to play with LOTS of people? Buy two decks. Good wholesome family fun!'

In [114]:
df.query('topic==0').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[1]

"We've had a blast playing this in car, around the dinner table, and more. It really gets you thinking and laughing - a LOT!!! Caution, though, this is an adult game, not for kids. You will find much insight about yourself and your family and friends...it gives new meaning to how low will you go. It's played just like the Apples to Apples kid's game, so you really need at least three adults to play and definitely the more the merrier!"

In [115]:
df.query('topic==0').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[2]

"This is such an easy game to play with the kids and they are enjoying it.  It is pretty impressive how each card has a match.  We haven't ventured into the other three games yet, but I like that you can travel with this and the rules are super simple.  I enjoy playing cards with the kids but you know when you play old maid or go fish, you usually need another adult to help out and it can get frustrating. This one doesn't feel like that."

In [116]:
keywords.query('topic==1').sort_values(by='weight', ascending=False)[:10]

         word  topic     weight
181       toy      1  46.014141
117      name      1  36.793780
105      love      1  32.928674
166       son      1  29.243948
157     scout      1  28.676577
156       say      1  24.885652
40   daughter      1  24.882347
167      song      1  24.450098
189    violet      1  21.575769
63    favorit      1  21.028578

In [117]:
df.query('topic==1').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[0]

"My son, now a year old, loves scout so much that I bought a second just in case....It's become his security toy.  If you didn't see it in the description, this toy is programmable to know your child's name, favorite animal, favorite color, and favorite food.  You can also select different songs for the buttons.It was easy to program and took minimal time.  I have also been able to make quick updates to the songs and favorites.I started putting this in my son's crib when he was old enough to push buttons as a way to keep his entertained as he was falling asleep.  I believe that having scout as company has helped us to avoid his screaming when we put him down and leave the room.  He quietly lays in the bed and pushes scout's feet and watches the light.  We take scout on long car trips or long outings to keep him entertained.  It really works.  It's become a lovie toy that is entertaining, educational, and makes him feel better.  Well worth the money!I have three minor complaints: one is the way that it says my son's name.  It makes a 1 syllable name into two syllables and says it like it's a question.  I'm not sure if he has entirely put it together that scout is saying his name because it sounds so weird.  How hard is it to say John?! The second complaint is that it's a stuffed animal that isn't machine washable.  I completely understand why it isn't and I have no suggestions for making it machine washable...I just wish that there was an easy way to get it good and clean if something gross happens to it. Finally, I'm not crazy about the power off button on scout's left foot.  My child will never desire to turn scout off.  If I want scout off before the song ends, I can switch his off in the back so that he will remain off (rather than on the foot which isn't really off but just stops the music until another button is pushed).  Thus, 1 of 5 of scouts buttons is essentially functionless for the child. I wish that that foot did something and they left it to me to turn scout off.  All of that said, I still give it a 5 because my son isn't aware of any of these issues and that's what matters."

In [118]:
df.query('topic==1').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[1]

'My daughter received this toy for Christmas from my mother. She was only four months old then, but she still got a big smile on her face and kicked her legs whenever she\'d hear her dog. My daughter received the Violet dog, and her name happens to be Violet, too, so she\'ll probably like that when she\'s older. She is eleven months old now, and I think this toy is probably her favorite. She has learned how to make it work, so she\'s always pressing on its paws, and she smiles and gets excited over it still. She drags it around with her when she\'s crawling around, and she gets excited every time she sees it. She also likes to snuggle it and lay on it because its so soft.Pros:1. You can customize this toy by selecting which songs you would like to install on it. If your child gets tired of them, you can select other songs, and there is quite a selection. There are even some Christmas songs, which I\'ll be installing when that time comes.2. You can customize this toy to say your child\'s name.3. You can customize this toy to incorporate your child\'s favorites into a song. My daughter was too little to really have favorites when she received this toy, so I chose \'milk\' for favorite food, since that\'s all she could eat, \'red\' for favorite color, because I always noticed her staring at red things, and \'cat\' for favorite animal, because we have cats, so it was the only animal she really knew. As they get older, you can change these things again to reflect their taste.4. The dog is cuddly.5. There are no pieces on this toy that can come off and choke your child.6. You can adjust the volume.7. The dog\'s voice is not annoying. They use a real child\'s voice and not the fake Barney-sounding voice a lot of other toys have. This is the only talking/musical toy my daughter owns that doesn\'t drive me up the wall.8. It has upbeat songs, slower songs, and even some bedtime music, which is very soothing. You can make the bedtime music play for up to ten minutes.9. This toy is educational. It teaches colors, shapes, animal sounds, etc.Cons:1. The way the names are pronounced are kind of strange. For example, when the dog says my daughter\'s name Violet, she says it like "Violet?" It\'s not a big deal, though, and it\'s still kind of cute. If your child has a \'different\' name, that could be bad for pronunciation. My niece\'s name is Kierra, and her dog pronounces her name like "Key-are-uh" instead of "Key-air-uh".'

In [119]:
df.query('topic==1').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[2]

"This is a really cute and cuddly puppy. Very soft, and put together well. I bought Violet for my daughter's first birthday and loaded the puppy with her name (Claire) and other customizations. My 4 year old son loved the dog so much, he asked for his own, so now we have a Scout and a Violet. My 4 year old plays with his dog more than the 1 year old, but I'll give it some time. Neither child has a stuffed animal lovie yet (son has a little baby blanket he loves, daughter has no lovie as of yet).There is an amazing varriety of names avaliable at the website, more than my baby names book! Also, nicknames like princess and monkey if you have a truly unique name for your child.The songs don't really have much variety to choose from, even though they are customizable. The best songs are the ones they already have preloaded on Scout/Violet, the ones you can load from the website are non-recognizable baby muzak.There is a huge variety for My Favorite Animal and Food. My Favorite Color is just the primary basics."

In [120]:
keywords.query('topic==2').sort_values(by='weight', ascending=False)[:10]

         word  topic     weight
98    leappad      2  34.569250
8         app      2  30.387224
186       use      2  26.205136
14    batteri      2  25.444995
99      learn      2  19.439619
145   purchas      2  18.104449
97   leapfrog      2  17.221118
172    tablet      2  15.399685
143   product      2  15.151629
48   download      2  14.986085

In [121]:
df.query('topic==2').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[0]

'Our 4.5 year old received her leappad 2 for Christmas. Honestly, it\'s a great toy if the parents are prepared that the apps are expensive and the child is old enough to use those apps. The games and videos are designed specifically for kids to learn (not all of them but i only buy educational ones). There are quite a few reviews of applications on leapfrog website which makes it a lot easier to pick the ones that are age appropriate and also educational. We do not have a problem with over sensitivity of the screen. The games that require tracing are quite relaxed in my opinion. Of course, the child has to stay in some proximity to the lines but it does allow for quite some deviation from the line which is great for learning. Also, they have promotions for those apps: they had buy 3 get one free for downloadable ones and buy 2 get one free for cartridges until the mid of January. I would guess they will have more promotions. Still expensive but more doable. Some of the good $25 games are sold on Amazon for $15-17 and there are slots in the pink case to put the cartridges in! The cameras are not great but good enough for kids. The battery life is not bad either. We bought rechargeable batteries with the charger from Sam\'s club and it is not bad at all. They last a few days with half an hour to a couple of hours use a day.The stickers are there, they are hidden very well though.Overall, we are very happy. Our daughter likes it a lot, calls it her "computer". She is occupied during long car rides and basketball games playing and learning, which makes her parents\' lives easier.'

In [122]:
df.query('topic==2').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[1]

"The LeapFrog LeapPad2 Disney/Pixar Monsters University Varsity Edition is a fantastic alternative to your iPad. The bundle comes with the unit, 8 preinstalled apps (that I can tell), a Gel Skin Monsters U. cover, 2 Sticker Sheets, a cleaning cloth thingie, a nifty $20 Digital Download Gift card thing and a USB Cable.The LeapPad2 sports some nice, educational apps for kids but the $20 download gift card didn't go very far since most apps run in the $15-$20 range for the decent ones. You can also pick up some cartridge apps here on Amazon or at Target for the same price range but they are a physical cartridge you plug into the unit.The screen is nice, at 5 inches, the resolution isn't too bad.  The touch response is also pretty good - your child can use their hands or the included stylus (which is attached by a sturdy string)to interact with the LeapPad2.With the gel skin cover, the LeapPad2 is easy to grip and hold and will provide hours of fun for your child - that is, if the battery holds. The unit is powered by 4 AA batteries that never seem to last very long.  My son does like to leave the unit on, so we were going through batteries like crazy.LeapFrog LeapPad2 Power Kids' Learning Tablet, Green (includes rechargeable battery - $40 value)Will fix that problem though. Still, it's slightly annoying that they didn't just make the unit rechargeable in the first place.The camera. Yes, it's really not that great - the resolution is atrocious but it is addicting for kids! They love that front camera and will be entertained by that for hours.Overall: Highly recommended!"

In [123]:
df.query('topic==2').sort_values(by='topic_score', ascending=False)['reviewText'].iloc[2]

"If your like me then you have kids that are like mine. They constantly want to play games, watch videos and do other fun activities on your tablet (and its usually when your doing something with it like reading).Well those days are over, say hello to the LeapPad 2 explorer from leapfrog! This device is in my opinion one of the best tablets for young kids. Watch your child learn and grow in ways you could never imagine,plus you can get email updates from LeapFrog that can help you participate in your child's learning experience.Some of the great features include the front and back camera and video recorder which allows your child to put themselfs right into the games. Plus it includes 5 apps to get you started and a stylus so your little one can be just like you.The LeapPad 2 does require 4 AA batteries (not included) but you can purchase the recharger pack separately and that would probably be a wise investment. It also goes without saying that a computer is needed to download the games and apps and all that. Its something to keep in mind if your planning to purchase this for a child in another household.As well as the price of the games, they can add up quickly so your best bet its to buy the App center download cards when they are on sale to save yourself some money.My kids love this tablet so much they never ask to play with mine anymore. There are tons of accessories out there for these LeapPads that you should have no problem finding just the right ones for your child. I will definitely have to go out and get another so they don't have to share."

### Insights

Topic 0: B002NPBT50, B0039S7NO6, B004S8F7QM. Topic 0 is about playing and having fun with others.
Topic 1: B001W30D2O. Topic 1 is about a toy.  
Topic 2: B0089RPUHO. Topic 2 is about a tablet for kids.